body{
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.response{
    max-width:75%;
    height:auto;
}

img{
    padding:15px;
}

.displayBox{
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.scroll-box{
    overflow-y: auto;
    height:500px;
    float:left;
    padding: 1rem;
}